
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color:#dcdcdc;
    font-family: "Roboto", sans-serif;
}
.container{
    margin: 0 auto;
    width: 80%;
}
main{
}
/*================================================================================
            Header Section
=================================================================================*/
header{
    background: white;
    
}
header::after{
    content: '';
    display:table;
    clear: both;
}
.logo{
    height: auto;
    float: left;
    text-transform: uppercase;
    margin:auto -140px 40px;
    padding:20px 150px 22px;
    position: fixed;
    top:0;;
    background-color: white;

}
nav{
    float: right;
    display:flex;
    justify-content: space-around;
    
    position:fixed;
    width: 100%;
    top: 0;
    background-color: white;
    margin-left: 20%;
    
}

ul{
    flex-flow: row wrap;
}

li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    border-left: 1px double grey;
    padding-left: 15px;
    
    position: relative;
}
nav li:hover{
    
    transform:translateY(-3px)
}
nav a{
    text-decoration-line: none;
    color: black;
    text-transform: uppercase;
    padding: 15px;
}
nav a:hover{
    color: grey;
}
nav a::before{
    content: '';
    display: block;
    background-color: black;

    height: 3px;
    width: 0%;
    max-width: 100%;
    margin:21px auto;
    transition:ease 200ms;
    position: absolute;

}
nav a:hover::before{
    width: 100%;
}
/*================================================================================
    About Section
===============================================================================*/
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0rem 10rem;
    gap: 2rem;
    border-top: 63px solid black;
    width:100%;
    margin: auto;

}
#about-text{
    max-width: 40%;
    font-size: 15px;
}
#about-text h1{
    font-size: 3rem;
    max-width: 100%;
}
#about-text p{
    font-size: 18px;
    margin-bottom: 1rem;
    color:black;
}
/*============================================
    Testimonies Section
================================================*/
#testimonials{
    background-color: #dcdcdc;
    padding: 90px 0;
}
#testimonials-container{
    display: flex;
}