
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color:#dcdcdc;
    font-family: "Roboto", sans-serif;
}
.container{
    margin: 0 auto;
    width: 80%;
}
/*================================================================================
            Header Section
=================================================================================*/
header{
    background: white;
    width: 100%;
    top: 0;
}
header::after{
    content: '';
    display:table;
    clear: both;
}
.logo{
    height: 10px;
    float: left;
    text-transform: uppercase;
    margin-top: 2%;
}
nav{
    float: right;
    display:flex;
    justify-content: space-around;
}

ul{
    flex-flow: row wrap;
}

li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    border-left: 2px solid grey;
    padding-left: 25px;
}
nav li:hover{
    
    transform:translateY(-4px)
}
nav a{
    text-decoration-line: none;
    color: black;
    text-transform: uppercase;
}
nav a:hover{
    color: grey;
}
nav a::before{
    content: '';
    display: block;
    background-color: grey;

    height: 3px;
    width: 0%;
    max-width: 70px;
    margin-top: 40px;
    transition:ease-in-out 100ms;
    position: absolute;

}
nav a:hover::before{
    width: 100%;
}
/*================================================================================
    About Section
===============================================================================*/
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0rem 10rem;
    gap: 2rem;
}
#about-text{
    max-width: 40%;
    font-size: 15px;
}
#about-text h1{
    font-size: 3rem;
    max-width: 100%;
}
#about-text p{
    font-size: 18px;
    margin-bottom: 1rem;
    color:black;
}
